
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background: linear-gradient(to right, #881d88, #ff87eb)
}

.container {
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 32px;
    text-align: center;
    justify-content: center;
    align-self: center;
  }

h2 {
    font-size: 2em;
    color: rgb(61, 57, 57);
    margin-bottom: 1em;
}
#pass {
    border-radius: 7.5px;
    border: 0.5px solid rgb(165, 162, 162);
}

.btn {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    text-shadow: none;
}

.btn:hover {
    background: #014a8f;
}


.error {
    color: rgb(255, 24, 24);
}

.valid {
    color: rgb(11, 27, 252);
}
